* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(16, 16, 16);
}

.logo img {
  max-width: 20%;
  max-height: 125px;
  float: left;
}

.text {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 5%;
  float: left;
  color: yellow;
}

.contact {
  font-size: 30px;
  color: #ffffff;
  /* text-decoration: underline; */
}

.contact a {
  font-size: 50px;
  color: #ffffff;
  text-decoration: none;
}

.call a {
  font-size: 20px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  margin: 10px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
}

.heading {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: #ffffff;
}

.container {
  display: flex;
  background-color: tomato;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.image {
  box-shadow: 5px 5px rgb(105, 117, 105);
  border-radius: 10px;
  display: block;
  width: 48vw;
  height: 310px;
  border: 3px solid #d9d2d2;
  position: relative;
  object-fit: cover;
  margin-right: 10px;
  background-image: url(./IMAGES/pic1.webp);
  background-size: 100% 100%;
  animation: changeImage 20s linear infinite;
}

@keyframes changeImage {
  0% {
    background-image: url(./IMAGES/pic1.webp);
  }

  25% {
    background-image: url(./IMAGES/pic2.webp);
  }

  50% {
    background-image: url(./IMAGES/pic3.webp);
  }

  75% {
    background-image: url(./IMAGES/pic4.webp);
  }

  100% {
    background-image: url(./IMAGES/pic1.webp);
  }
}

.image1 {
  box-shadow: 5px 5px rgb(105, 117, 105);
  border-radius: 10px;
  display: block;
  width: 48vw;
  height: 310px;
  border: 3px solid #d9d2d2;
  position: relative;
  object-fit: cover;
  margin-right: 10px;
  background-image: url(./IMAGES/pic5.webp);
  background-size: 100% 100%;
  animation: changeImage1 20s linear infinite;
}

@keyframes changeImage1 {
  0% {
    background-image: url(./IMAGES/pic5.webp);
  }

  25% {
    background-image: url(./IMAGES/pic6.webp);
  }

  50% {
    background-image: url(./IMAGES/pic7.webp);
  }

  75% {
    background-image: url(./IMAGES/pic8.webp);
  }

  100% {
    background-image: url(./IMAGES/pic5.webp);
  }
}

.image2 {
  box-shadow: 5px 5px rgb(105, 117, 105);
  border-radius: 10px;
  display: block;
  width: 48vw;
  height: 310px;
  border: 3px solid #d9d2d2;
  position: relative;
  object-fit: cover;
  margin-right: 10px;
  background-image: url(./IMAGES/pic9.webp);
  background-size: 100% 100%;
  animation: changeImage2 20s linear infinite;
}

@keyframes changeImage2 {
  0% {
    background-image: url(./IMAGES/pic9.webp);
  }

  25% {
    background-image: url(./IMAGES/pic10.webp);
  }

  50% {
    background-image: url(./IMAGES/pic11.webp);
  }

  75% {
    background-image: url(./IMAGES/pic12.webp);
  }

  100% {
    background-image: url(./IMAGES/pic9.webp);
  }
}

.image3 {
  box-shadow: 5px 5px rgb(105, 117, 105);
  border-radius: 10px;
  display: block;
  width: 48vw;
  height: 310px;
  border: 3px solid #d9d2d2;
  position: relative;
  object-fit: cover;
  margin-right: 10px;
  background-image: url(./IMAGES/pic13.jpeg);
  background-size: 100% 100%;
  animation: changeImage3 20s linear infinite;
}

@keyframes changeImage3 {
  0% {
    background-image: url(./IMAGES/pic13.webp);
  }

  25% {
    background-image: url(./IMAGES/pic14.webp);
  }

  50% {
    background-image: url(./IMAGES/pic15.webp);
  }

  75% {
    background-image: url(./IMAGES/pic16.webp);
  }

  100% {
    background-image: url(./IMAGES/pic13.webp);
  }
}

.read-more {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: rgba(11, 1, 21, 0.699);
  cursor: pointer;
}


.box {
  display: none;
  position: absolute;
  bottom: 40px;
  right: 20px;
  width: 500px;
  background-color: #ffffff;
  font-style: unset;
  padding: 20px;
  border-radius: 15px;
  z-index: 1;
  box-shadow: #676363;
}

.read-more:focus+.box {
  display: block;
}

.more-info {
  margin-top: 20px;
  color: #050505;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  list-style: none;

}